__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.log

.venv/
venv/
env/

.DS_Store
.idea/
.vscode/

.ipynb_checkpoints/

.web/
web/
.reflex/
node_modules/

data/*.pkl
data/*.pickle
data/*.pt
data/*.bin
data/*.model
data/*.npz
data/*.npy

emails.csv
